image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
	}

	partition fsbl1 {
		image = "%ATFBIN%"
	}

	partition fsbl2 {
		image = "%ATFBIN%"
	}

	partition metadata1 {
		image = "mdata.bin"
		partition-type-uuid = "%FWUMDATA_UUID%"
	}

	partition metadata2 {
		image = "mdata.bin"
		partition-type-uuid = "%FWUMDATA_UUID%"
	}

	partition fip-a {
		image = "fip.bin"
		partition-uuid = "%FIPA_UUID%"
		partition-type-uuid = "%FIP_UUID_TYPE%"
		size = 4M
	}

	partition fip-b {
		partition-uuid = "%FIPB_UUID%"
		partition-type-uuid = "%FIP_UUID_TYPE%"
		size = 4M
	}

	partition u-boot-env {
		image = "uboot-env.bin"
		# Twice the environment size to allow redundancy
		size = 0x4000
	}

	partition rootfs-a {
		image = "rootfs.squashfs"
		size = 200M
	}

	partition rootfs-b {
		size = 200M
	}

	partition data {
		image = "data.ext4"
	}
}

image data.ext4 {
	name = "data"
	ext4 {
		label = "data"
	}
	size = 200M
}
